# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# TensorBoard
tensorboard/
runs/

jobs/
opera-python/
outputs_smach/
ICLR26/
generation/
TimePoint/
granite-tsfm-main/

# WandB
wandb/

# Hydra outputs
outputs/
multirun/
runs/
logs/


# Checkpoints
checkpoints/
*.pth
*.pt
*.ckpt

# Logs
*.log

# Data
data/
datasets/
*.parquet
*.npy
*.npz
*.pkl
*.csv
*.png
*.zip
*.pdf
*.tex

# OS files
.DS_Store
Thumbs.db

tirex-2/
checkpoints/
chronos-2-finetuned/

